body, html {	/*the outer layer of the site and global style attributes*/
    margin: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    }

.front-page {
    display:flex;
    flex-direction: column;
}

.top-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    background-image: url("../img/background-mint.jpg");
    background-size: cover;
}

.bottom-page {
    width: 100%;
    height: 150%;
    display: flex;
    /* align-items: flex-start; */
    justify-content:center;
    background: white;
}

.bitmoji {
    width: 50px;
    position: fixed;
    align-items: center;
    justify-content:center;
    padding: 30px;
}

.bitmoji-inline {
    width: 35px;
}

.top-page-text {
    padding: 1%;
    position: relative;
    margin-left: 7%;
    font-size: 200%;
    width: 45%;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

.handwriting-video {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    /* background-size: cover; */
    z-index: 1;
}

.name {
    width: 200px;
    position: fixed;
    align-items: center;
    justify-content:center;
    padding-left: 30px;
}

.floater-box {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-top: 2%; */
}

.floater {
    width: 25%;
    box-shadow: 10px 10px 30px grey;
    position: relative;
    margin: 1%;
    transition: all 0.2s;
}

.floater:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

#f1 {
    position: relative;
    /* right: 5%; */
    left: 40%;
}

#f2 {
    position: relative;
    /* left: 15%; */
    top: 30%;
}

#f3 {
    position: relative;
    /* right: 20%; */
    top: 40%;
}

#f4 {
    position: relative;
    top: 40%;
    left: 20%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }