body, html {	/*the outer layer of the site and global style attributes*/
    margin: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    }

.front-page {
    display:flex;
    flex-direction: column;
}



.top-bar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 10%;
    width: 100%;
    /* background-color: #b6e3ca; */
}

.top-bar-left {

width: 40%;

height: 100%;
}

.top-bar-right {
    
justify-content: space-around;
    
align-items: center;
    
display: flex;
    
height: 100%;
    
width: 20%;
    
margin-right: 4%;
}

.top-bar-selectable {
    font-family: 'Open Sans', sans-serif;
    padding: 1%;
}

a {

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
}

a:active {
    text-decoration: underline;
}

.top-links {
    transition: all 0.4s;
    border-style: solid;
    border-color: transparent;
}

.top-links:hover {
    border-color: black;
    border-radius: 7px;
}

.top-page {
    /* position: absolute; */
    display: inline-block;
    height: 100%;
    /* display: flex; */
    align-items: center;
    /* flex-direction: column; */
    justify-content:center;
    background-image: url("../img/background-mint.jpg");
    background-size: cover;
}

.right-side {
    margin-top: 5%;
    width: 50%;
    height: 80%;
    display:block;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content:center;
}

.bottom-page {
    background: linear-gradient(#dae9e1, #9198e5);
    /* background: linear-gradient(#dae9e1, #dae9e1); */
    width: 100%;
    height: 170%;
    display: flex;
    /* align-items: flex-start; */
    justify-content:center;
    /* background: white; */
}

.bitmoji {
    width: 50px;
    position: fixed;
    align-items: center;
    justify-content:center;
    padding: 30px;
}

.bitmoji-inline {
    width: 35px;
}

.top-page-text {
    padding: 1%;
    position: relative;
    margin-left: 7%;
    margin-top: 0;
    font-size: 200%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

.handwriting-video {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    /* background-size: cover; */
    z-index: 1;
}

.name {
    padding: 1%;
    height: 100%;
    /* width: 200px; */
    position: absolute;
    align-items: center;
    justify-content:center;
    padding-left: 30px;
}

.heyitsme {
    padding-top: 7%;
    width: 100%;
    display: block;
    /* padding-top: 10%; */
}

.down {
    
position: relative;
    
width: 4%;
    
display: block;
    
margin-left: auto;
    
margin-right: auto;
    
/* width: 50%; */
    
/* padding-left: 47.5%; */
    
/* padding-right: 47.5%; */
transition: all 0.2s;

}

.down:hover {
    transform: scale(1.1);
}
.floater-box {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-top: 2%; */
    /* height: 140%; */
}

.floater {
    width: 25%;
    box-shadow: 10px 10px 30px grey;
    position: relative;
    margin: 1%;
    transition: all 0.2s;
}

.floater:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

.floater:hover .floater-text {
    opacity: 1;
}

.floater-image {
    width: 100%;
}

.floater-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    width: 100%;
    /* padding:  0; */
}

#f1 {
    position: relative;
    /* right: 5%; */
    left: 40%;
    top: 5%;
    /* width: 20%; */
}

#f2 {
    position: relative;
    left: 17%;
    top: 10%;
}

#f3 {
    position: relative;
    left: 55%;
    bottom: 44%;
}

#f4 {
    position: relative;
    /* top: 40%; */
    bottom: 45%;
    left: 50%;
}

/* specific page styles */

.specific-page {
    background-color: #dae9e1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

#left-side {
    width: 40%;
    height: 70%;
    padding: 2%;
    padding-left: 0;
    /* border: 5px; */
    /* border-style: solid; */
    margin-top: 5%;
}

#right-side {
    width: 40%;
    height: 70%;
    /* padding: 2%; */
    /* border-style: solid; */
    /* border: 5px; */
    /* border-style: solid; */
    margin-top: 5%;
}

.title-text {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-bottom: 5%;
}

.desc-text {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    line-height: 2;
}

/* specifc specific page styles */
.mobilepic {
    width: 100%;
    margin-top: 5%;
}

.mobilepicme {
    /* width: 100%; */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }